PATH_add /opt/homebrew/bin "$HOME/.docker/bin" bin

if [ -f "$HOME/.env" ]; then dotenv "$HOME/.env"; fi
if [ -d "$HOME/.env" ]; then
  for X in "$HOME/.env"/*; do
    # shellcheck disable=SC1090
    case "$X" in
      *.env) dotenv "$X" ;;
      *.sh)  source "$X" ;;
    esac
  done
fi
