#!/bin/bash
# If nvm is available then use it to get the right version of NodeJS
if command -v nvm >/dev/null; then nvm use 2>/dev/null; fi

source_env_dir() {
  local DIR="$1"
  if ! [ -d "$DIR" ]; then return; fi
  local FILE
  local FILES=( "$DIR"/*.{env,sh} )
  for FILE in "${FILES[@]}"; do
    watch_file "$FILE"
    # shellcheck disable=SC1090
    case "$FILE" in
      *.env) dotenv "$FILE" ;;
      *.sh) source "$FILE" ;;
    esac
  done
}

if [ -f .env ]; then dotenv .env; fi
if [ -d .env ]; then source_env_dir .env; fi
if [ -d .env.d ]; then source_env_dir .env.d; fi

PATH_add go/bin bin
