#!/bin/bash
if [ -f .env ]; then dotenv .env; fi
if [ -d .env ]; then
  if cd .env; then
    for X in *; do
      # shellcheck disable=SC1090
      case "$X" in
        *.env) dotenv "$X" ;;
        *.sh) source "$X" ;;
      esac
    done
  fi
fi
